package mail

templ ConfirmationTemplate(username, link string) {
	<div style="padding: 64px 16px; background-color: #000000">
		<div style="top: 8px; position: relative">
			<div align="center">
				<img
					style="max-width: 100%"
					src="https://raw.githubusercontent.com/bastean/codexgo/main/assets/readme/logo.png"
				/>
			</div>
			<div style="margin-top: 20px; overflow-wrap: break-word" align="center">
				<p style="color: #a4a5a7; font-size: 24px">Hi { username }</p>
				<p style="color: #bebfc0; font-size: 18px">
					Please confirm your account by clicking the button below
				</p>
				<a
					style="color: #d8d9d9; font-size: 20px"
					href={ templ.URL(link) }
					rel="noopener noreferrer"
					target="_blank"
				>
					CONFIRM
				</a>
				<div style="margin-top: 16px" align="center">
					<a
						style="color: #000000"
						href="https://github.com/bastean/codexgo"
						rel="noopener noreferrer"
						target="_blank"
					>
						<span style="color: #97989a">codexGO</span>
					</a>
					<div style="margin-top: 5px">
						<a
							style="color: #000000"
							href="https://bastean.dev"
							rel="noopener noreferrer"
							target="_blank"
						>
							<span style="color: #818284">bastean.dev</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}
