MONGO_CONTAINER_NAME=codexgo-database-test
MONGO_INITDB_ROOT_USERNAME=codexgo-test
MONGO_INITDB_ROOT_PASSWORD=codexgo-test
MONGO_INITDB_PORT=27017
MONGO_RESTART=on-failure

BACKEND_CONTAINER_NAME=codexgo-backend-test
BACKEND_BUILD_TARGET=test
BACKEND_MODE=test
BACKEND_PORT=8080
BACKEND_DATABASE_USERNAME=codexgo-test
BACKEND_DATABASE_PASSWORD=codexgo-test
BACKEND_DATABASE_NAME=codexgo-test
BACKEND_DATABASE_COLLECTION=users
BACKEND_JWT_SECRET_KEY=codexgo-test
BACKEND_COOKIE_SECRET_KEY=codexgo-test
BACKEND_COOKIE_SESSION_NAME=codexgo-test
BACKEND_COMMAND="concurrently -s first -k --names 'SUT,TEST' 'air' 'wait-on -l http-get://localhost:8080 && BASE_URL='http://localhost:8080' make test'"
BACKEND_VOLUME=.:/app
BACKEND_RESTART=on-failure

DATABASE_VOLUME=codexgo-database-test
