#* Editor Directories & Files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/vs.code-snippets
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

#* Package Managers
vendor
node_modules
package
pnpm-lock.yaml
yarn.lock

#* Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#* ENV
*.env*
!*.env.demo*
!*.env.example*
*.npmrc*

#* Database
*.db*
!*.db.demo*
!*.db.example*

#* Production
dist-ssr
build

#* Tooling
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*_templ.txt

#* Misc
ignore*
report*
temp*
tmp*

#* Repository
