package theme

templ Option(name, value string) {
	<li><input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label={ name } value={ value }/></li>
}
