package theme

import (
	"github.com/bastean/codexgo/pkg/cmd/server/component/icon"
)

templ Selector() {
	<div class="dropdown dropdown-end mb-72">
		<div tabindex="0" role="button" class="btn m-1">
			Theme
			@icon.ArrowDown()
		</div>
		<ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
			@Option("Default", "default")
			@Option("Dark", "dark")
			@Option("Light", "light")
			@Option("Retro", "retro")
			@Option("Cyberpunk", "cyberpunk")
		</ul>
	</div>
}
