package home

import "github.com/bastean/codexgo/v4/internal/app/server/service/captcha"

const (
	ForgotFormTagID  = "forgot-form"
	ForgotModalTagID = "forgot-modal"
)

script ForgotFormInit(formTagID string) {
    $(`#${formTagID}`)
        .form({
            on: "blur",
            inline: true,
            preventLeaving: true,
            keyboardShortcuts: false,
            fields: {
                Email: {
                    rules: [
                        {
                            type: "email"
                        }
                    ]
                },
                CaptchaAnswer: {
                    rules: [
                        {
                            type: "notEmpty"
                        }
                    ]
                }
            }
        })
        .api({
            action: "user_forgot", 
            method: "POST",
            beforeSend: function(settings) {
                settings.data.CaptchaAnswer = _.toString(settings.data.CaptchaAnswer);

                settings.data = JSON.stringify(settings.data);
        
                return settings;
            },
            onSuccess: function(response, element, xhr) {
                $.toast({
                    class: "success",
                    message: response.Message,
                    showProgress: "top"
                });

                _.delay(function() {
                    $(`#${formTagID}`).form("reset");
                }, 1000);
            },
            onFailure: function(response, element, xhr) {
                $.toast({
                    class: "error",
                    message: response.Message,
                    showProgress: "top"
                });
            }
        })
    ;
}

templ ForgotForm(captcha *captcha.Captcha) {
	<div id={ ForgotModalTagID } class="ui mini inverted modal">
		<div class="content">
			<form id={ ForgotFormTagID } class="ui inverted form">
				<h1 class="ui dividing inverted header">
					Recover your account
					<div class="sub header">You will receive a link to reset your password</div>
				</h1>
				<div class="required field">
					<label>Email</label>
					<div class="ui inverted transparent left icon input">
						<i class="envelope icon"></i>
						<input type="text" placeholder="Email" name="Email"/>
					</div>
				</div>
				<div class="ui divider"></div>
				@CaptchaForm(captcha)
				<div class="ui divider"></div>
				<button class="ui fluid primary submit button">Send</button>
			</form>
		</div>
	</div>
	@ForgotFormInit(ForgotFormTagID)
}
