package home

const (
	ResetFormTagID  = "reset-form"
	ResetModalTagID = "reset-modal"
)

script ResetFormInit(formTagID, loginTabTagID string) {
    $(`#${formTagID}`)
        .form({
            on: "blur",
            inline: true,
            preventLeaving: true,
            keyboardShortcuts: false,
            fields: {
                Password: {
                    rules: [
                        {
                            type: "size[8..64]"
                        },
                        {
                            type: "regExp[/^.*[^0-9].*$/]",
                            prompt: "{name} cannot be only numbers"
                        }
                    ]
                },
                ConfirmPassword: {
                    rules: [
                        {
                            type: "match[Password]"
                        }
                    ]
                }
            }
        })
        .api({
            action: "user_reset", 
            method: "POST",
            beforeSend: function(settings) {
                const params = new URLSearchParams(window.location.search);

                settings.data.Reset = params.get("token");

                settings.data.ID = params.get("id");

                settings.data = JSON.stringify(settings.data);
        
                return settings;
            },
            onSuccess: function(response, element, xhr) {
                $.toast({
                    class: "success",
                    message: response.Message,
                    showProgress: "top"
                });

                _.delay(function() {
                    $.tab("change tab", loginTabTagID);
                    $(".ui.mini.modal").modal("hide");
                }, 1000);
            },
            onFailure: function(response, element, xhr) {
                $.toast({
                    class: "error",
                    message: response.Message,
                    showProgress: "top"
                });
            }
        })
    ;
}

templ ResetForm() {
	<div id={ ResetModalTagID } class="ui mini inverted modal">
		<div class="content">
			<form id={ ResetFormTagID } class="ui inverted form">
				<h1 class="ui dividing inverted header">
					Reset your password
				</h1>
				<div class="required field">
					<label>Password</label>
					<div class="ui inverted transparent left icon input">
						<i class="lock icon"></i>
						<input type="password" placeholder="Password" name="Password"/>
					</div>
				</div>
				<div class="required field">
					<label>Confirm Password</label>
					<div class="ui inverted transparent left icon input">
						<i class="redo icon"></i>
						<input type="password" placeholder="Confirm Password" name="ConfirmPassword"/>
					</div>
				</div>
				<div class="ui divider"></div>
				<div class="ui middle aligned center aligned grid">
					<div class="column">
						<button class="ui fluid primary submit button">Reset</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	@ResetFormInit(ResetFormTagID, LoginTabTagID)
}
