package home

import "github.com/bastean/codexgo/v4/internal/app/server/service/captcha"

const (
	RegisterFormTagID   = "register-form"
	RegisterSubmitTagID = "register-submit"
)

script RegisterFormInit(submitTagID, formTagID, loginTabTagID string) {
    $(`#${submitTagID}`)
        .popup({
            position: "top center",
            hoverable: true
        })
    ;

    $(`#${formTagID}`)
        .form({
            on: "blur",
            inline: true,
            preventLeaving: true,
            keyboardShortcuts: false,
            fields: {
                Email: {
                    rules: [
                        {
                            type: "email"
                        }
                    ]
                },
                Username: {
                    rules: [
                        {
                            type: "size[2..20]"
                        },
                        {
                            type: "regExp[/^[A-Za-z0-9]+$/]",
                            prompt: "{name} must be alphanumeric only"
                        },
                        {
                            type: "regExp[/^.*[^0-9].*$/]",
                            prompt: "{name} cannot be only numbers"
                        }
                    ]
                },
                Password: {
                    rules: [
                        {
                            type: "size[8..64]"
                        },
                        {
                            type: "regExp[/^.*[^0-9].*$/]",
                            prompt: "{name} cannot be only numbers"
                        }
                    ]
                },
                ConfirmPassword: {
                    rules: [
                        {
                            type: "match[Password]"
                        }
                    ]
                },
                Terms: {
                    rules: [
                        {
                            type: "checked",
                            prompt: "Terms and Conditions must be checked"
                        }
                    ]
                },
                CaptchaAnswer: {
                    rules: [
                        {
                            type: "notEmpty"
                        }
                    ]
                }
            }
        })
        .api({
            action: "user_create", 
            method: "PUT",
            beforeSend: function(settings) {
                settings.data.CaptchaAnswer = _.toString(settings.data.CaptchaAnswer);

                settings.data = JSON.stringify(settings.data);

                return settings;
            },
            onSuccess: function(response, element, xhr) {
                $.toast({
                    class: "success",
                    message: response.Message,
                    showProgress: "top"
                });

                _.delay(function() {
                    $.tab("change tab", loginTabTagID);
                    $(`#${formTagID}`).form("reset");
                }, 1000);
            },
            onFailure: function(response, element, xhr) {
                $.toast({
                    class: "error",
                    message: response.Message,
                    showProgress: "top"
                });
            }
        })
    ;
}

templ RegisterForm(captcha *captcha.Captcha) {
	<form id={ RegisterFormTagID } class="ui inverted form">
		<h1 class="ui dividing inverted header">
			Create an account
			<div class="sub header">Already have an account? <a style="cursor: pointer;" onclick={ ShowTab(LoginTabTagID) }>Sign in</a></div>
		</h1>
		<div class="required field">
			<label>Email</label>
			<div class="ui inverted transparent left icon input">
				<i class="envelope icon"></i>
				<input type="text" placeholder="Email" name="Email"/>
			</div>
		</div>
		<div class="required field">
			<label>Username</label>
			<div class="ui inverted transparent left icon input">
				<i class="user icon"></i>
				<input type="text" placeholder="Username" name="Username"/>
			</div>
		</div>
		<div class="required field">
			<label>Password</label>
			<div class="ui inverted transparent left icon input">
				<i class="lock icon"></i>
				<input type="password" placeholder="Password" name="Password"/>
			</div>
		</div>
		<div class="required field">
			<label>Confirm Password</label>
			<div class="ui inverted transparent left icon input">
				<i class="redo icon"></i>
				<input type="password" placeholder="Confirm Password" name="ConfirmPassword"/>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<div class="inline required field">
					<div class="ui inverted checkbox">
						<input type="checkbox" name="Terms"/>
						<label style="cursor: pointer;" onclick={ ShowModal(TermsModalTagID) }>I agree to the <a><b>Terms and Conditions</b></a></label>
					</div>
				</div>
				<button id={ RegisterSubmitTagID } class="ui fluid primary submit button">Sign up</button>
				<div class="ui inverted basic popup">
					<div class="header">Verify Captcha</div>
					<div class="ui divider"></div>
					@CaptchaForm(captcha)
				</div>
			</div>
		</div>
	</form>
	@RegisterFormInit(RegisterSubmitTagID, RegisterFormTagID, LoginTabTagID)
}
