{{define "content"}}
<div class="flex h-screen w-full items-center justify-center">
  <div role="tablist" class="tabs tabs-lifted">
    <input
      type="radio"
      name="tabs"
      role="tab"
      class="tab"
      aria-label="Register"
    />
    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
      <form
        class="flex h-full w-full flex-col items-center justify-center gap-5"
        hx-put="/"
        hx-target-*="#alert"
      >
        <input
          name="email"
          type="email"
          placeholder="Email"
          class="input input-bordered w-full max-w-xs"
        />

        <input
          name="username"
          type="text"
          placeholder="Username"
          class="input input-bordered w-full max-w-xs"
        />

        <input
          name="password"
          type="password"
          placeholder="Password"
          class="input input-bordered w-full max-w-xs"
        />

        <input
          name="confirmPassword"
          type="password"
          placeholder="Confirm Password"
          class="input input-bordered w-full max-w-xs"
        />
        <button class="btn btn-primary">Register</button>
      </form>
    </div>

    <input
      type="radio"
      name="tabs"
      role="tab"
      class="tab"
      aria-label="Login"
      checked
    />
    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
      <form
        class="flex h-full w-full flex-col items-center justify-center gap-5"
        hx-post="/"
        hx-target-*="#alert"
      >
        <input
          name="email"
          type="email"
          placeholder="Email"
          class="input input-bordered w-full max-w-xs"
        />

        <input
          name="password"
          type="password"
          placeholder="Password"
          class="input input-bordered w-full max-w-xs"
        />
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
{{end}}
