<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="codexgo" />
    <meta name="keywords" content="codexgo" />
    <meta name="theme-color" content="#232627" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <!-- Remove "meta robots" and "robots.txt" rules for SEO -->
    <meta
      name="robots"
      content="noindex, nofollow, noarchive, nositelinkssearchbox, nosnippet, notranslate, noimageindex"
    />

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <!-- HTMX/Extensions -->
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Tailwind/Extensions -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="manifest" href="public/static/manifest.json" />
    <link rel="apple-touch-icon" href="public/static/apple-touch-icon.png" />
    <link rel="icon" href="public/static/favicon.png" />

    <title>codexgo</title>
  </head>
  <body
    class="h-screen w-full"
    hx-ext="response-targets, class-tools, remove-me"
  >
    <div class="fixed mx-auto mt-10 flex w-full items-center justify-center">
      <div id="alert"></div>
    </div>
    {{ template "register.html" .}}
  </body>
</html>
