package dashboard

const (
	DeleteFormTagID = "delete"
)

script DeleteFormInit(formTagID string) {
    $(`#${formTagID}`)
        .form({
            on: "blur",
            inline: true,
            preventLeaving: true,
            keyboardShortcuts: false,
            fields: {
                Password: {
                    rules: [
                        {
                            type: "notEmpty",
                            prompt: "{name} is required to delete the account"
                        },
                        {
                            type: "size[8..64]"
                        },
                        {
                            type: "regExp[/^.*[^0-9].*$/]",
                            prompt: "{name} cannot be only numbers"
                        }
                    ]
                },
                ConfirmPassword: {
                    rules: [
                        {
                            type: "match[Password]"
                        }
                    ]
                }
            }
        })
        .api({
            action: "user_delete", 
            method: "DELETE",
            onSuccess: function(response, element, xhr) {
                $.toast({
                    class: "success",
                    message: response.Message,
                    showProgress: "top"
                });

                 _.delay(function() {
                    Storage.Clear();
                    window.location.replace("/");
                }, 1000);
            },
            onFailure: function(response, element, xhr) {
                $.toast({
                    class: "error",
                    message: response.Message,
                    showProgress: "top"
                });
            }
        })
    ;
}

script DeleteFormShow() {
    $(".ui.mini.modal").modal("show");
}

templ DeleteForm() {
	<div class="ui mini inverted modal">
		<div class="content">
			<form id={ DeleteFormTagID } class="ui inverted form">
				<h1 class="ui dividing inverted header">
					Delete your account
				</h1>
				<div class="required field">
					<label>Password</label>
					<div class="ui inverted transparent left icon input">
						<i class="lock icon"></i>
						<input type="password" placeholder="Password" name="Password"/>
					</div>
				</div>
				<div class="required field">
					<label>Confirm Password</label>
					<div class="ui inverted transparent left icon input">
						<i class="redo icon"></i>
						<input type="password" placeholder="Confirm Password" name="ConfirmPassword"/>
					</div>
				</div>
				<div class="ui divider"></div>
				<button class="ui fluid positive submit button">Approve</button>
			</form>
		</div>
	</div>
	@DeleteFormInit(DeleteFormTagID)
}
