package layout

templ Alert() {
	<div
		class="fixed z-50 mx-auto mt-5 flex w-full items-center justify-center px-2"
	>
		<div
			id="alert"
			x-data="{ show: false }"
			@close-alert="setTimeout(() => { show = false; }, 5000)"
			x-show="show"
			x-transition:enter="transition ease-out duration-300"
			x-transition:enter-start="opacity-0 scale-90"
			x-transition:enter-end="opacity-100 scale-100"
			x-transition:leave="transition ease-in duration-300"
			x-transition:leave-start="opacity-100 scale-100"
			x-transition:leave-end="opacity-0 scale-90"
		></div>
	</div>
}
