package layout

import (
	"github.com/bastean/codexgo/pkg/cmd/server/event"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/alert"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/theme"
	"github.com/bastean/codexgo/pkg/cmd/server/component/script"
)

var PutAuthorization = event.Client.PutAuthorization
var DeleteAuthorization = event.Client.DeleteAuthorization

templ Base(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="codexgo"/>
			<meta name="keywords" content="codexgo"/>
			<meta name="theme-color" content="#202224"/>
			<meta name="apple-mobile-web-app-capable" content="yes"/>
			<meta
				name="apple-mobile-web-app-status-bar-style"
				content="black-translucent"
			/>
			<!-- Remove "meta robots" and "robots.txt" rules for SEO -->
			<meta
				name="robots"
				content="noindex, nofollow, noarchive, nositelinkssearchbox, nosnippet, notranslate, noimageindex"
			/>
			<!-- Dependencies/Start -->
			<!-- HTMX -->
			<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
			<!-- HTMX/Extensions -->
			<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/alpine-morph.js"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
			<!-- Alpine/Extensions -->
			<script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
			<!-- Alpine -->
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<!-- Tailwind/Extensions -->
			<link
				href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
				rel="stylesheet"
				type="text/css"
			/>
			<!-- Tailwind -->
			<script src="https://cdn.tailwindcss.com"></script>
			<!-- Dependencies/End -->
			<link rel="manifest" href="/public/static/manifest.json"/>
			<link
				rel="apple-touch-icon"
				href="/public/static/assets/apple-touch-icon.png"
			/>
			<link rel="icon" href="/public/static/assets/favicon.png"/>
			<title>codexgo</title>
		</head>
		<body hx-ext="response-targets, alpine-morph, multi-swap, remove-me">
			@alert.Popup()
			<div class="fixed top-5 right-10 z-50">
				@theme.Selector()
			</div>
			<div
				id="main"
				class="container mx-auto flex h-screen flex-col overflow-y-auto overflow-x-hidden"
			>
				@content
			</div>
			@script.AddEventListener(PutAuthorization, DeleteAuthorization)
		</body>
	</html>
}
