package alert

import (
	"github.com/bastean/codexgo/pkg/cmd/server/component/icon"
)

templ Message(state, message string) {
	<div role="alert" class={ "alert alert-" + state } x-init="show = true; $dispatch('close-alert')">
		switch state {
			case "error":
				@icon.Error()
			default:
				@icon.Success()
		}
		<span>{ message }</span>
	</div>
}
