package page

import (
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/tab"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/form"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/input"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/badge"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/button"
)

templ Dashboard(isVerified bool) {
	@tab.Wrapper() {
		@tab.List() {
			@tab.Title("Update", true)
			@tab.Panel() {
				@form.Form(templ.Attributes{"hx-patch": "/dashboard", "hx-target": "#alert", "hx-target-error": "#alert"}) {
					@input.Input(templ.Attributes{"name": "email", "type": "email", "placeholder": "Email"})
					@input.Input(templ.Attributes{"name": "username", "type": "text", "placeholder": "Username"})
					@input.Input(templ.Attributes{"name": "password", "type": "password", "placeholder": "Current Password"})
					@input.Input(templ.Attributes{"name": "updatedPassword", "type": "password", "placeholder": "New Password"})
					<div class="w-full flex justify-start items-center gap-3">
						@badge.Status(isVerified)
						<span class="">Account verified</span>
					</div>
					@button.Primary("Update")
				}
			}
			@tab.Title("Delete", false)
			@tab.Panel() {
				@form.Form(templ.Attributes{"hx-delete": "/", "hx-target": "#main", "hx-target-error": "#alert", "hx-confirm": "Delete account?"}) {
					@button.Error("Delete")
				}
			}
		}
	}
}
