package page

import (
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/tab"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/form"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/input"
	"github.com/bastean/codexgo/pkg/cmd/server/component/partial/button"
)

templ Home() {
	@tab.Wrapper() {
		@tab.List() {
			@tab.Title("Register", false)
			@tab.Panel() {
				@form.Form(templ.Attributes{"hx-put": "/", "hx-target-*": "#alert"}) {
					@input.Input(templ.Attributes{"name": "email", "type": "email", "placeholder": "Email"})
					@input.Input(templ.Attributes{"name": "username", "type": "text", "placeholder": "Username"})
					@input.Input(templ.Attributes{"name": "password", "type": "password", "placeholder": "Password"})
					@button.Primary("Register")
				}
			}
			@tab.Title("Login", true)
			@tab.Panel() {
				@form.Form(templ.Attributes{"hx-post": "/", "hx-target": "#main", "hx-target-error": "#alert"}) {
					@input.Input(templ.Attributes{"name": "email", "type": "email", "placeholder": "Email"})
					@input.Input(templ.Attributes{"name": "password", "type": "password", "placeholder": "Password"})
					@button.Primary("Login")
				}
			}
		}
	}
}
