package layouts

script InitListeners(PutAuthorization, DeleteAuthorization string) {
    document.addEventListener('alpine:init', () => {
        Alpine.store('codexgo', {
            codexgo_jwt: Alpine.$persist(""),
            getJWT () { return this.codexgo_jwt.initialValue },
            setJWT (token) { this.codexgo_jwt = Alpine.$persist(token) }
        })
    })

    document.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['Authorization'] = Alpine.store('codexgo').getJWT()
    });

    document.addEventListener(PutAuthorization, function(evt) {
        const token = evt.detail.value
        Alpine.store('codexgo').setJWT(token)
    });

    document.addEventListener(DeleteAuthorization, function(evt) {
        Alpine.store('codexgo').setJWT("")
    });
}
