package storage

script Init() {
    const Storage = {
        MasterKey: "codexgo",
        Key: {},
        Init() {
            let storage = localStorage.getItem(this.MasterKey);

            if (storage == null) {
                localStorage.setItem(this.MasterKey, JSON.stringify({}));
            }
        },
        Put(key, value) {
            let storage = localStorage.getItem(this.MasterKey);

            storage = JSON.parse(storage)

            storage[key] = value;

            localStorage.setItem(this.MasterKey, JSON.stringify(storage));
        },
        Get(key) {
            let storage = localStorage.getItem(this.MasterKey);

            storage = JSON.parse(storage)

            return _.get(storage, key, null);
        },
        Delete(key) {
            let storage = localStorage.getItem(this.MasterKey);

            storage = JSON.parse(storage)

            delete storage[key];

            localStorage.setItem(this.MasterKey, JSON.stringify(storage));
        },
        async ClearSession() {
            localStorage.removeItem(this.MasterKey);
            cookieStore.delete(this.MasterKey);
        },
        async Clear() {
            localStorage.clear();

            let cookies = await cookieStore.getAll();

            _.each(cookies, function(cookie) {
                cookieStore.delete(cookie);
            });
        }
    }

    Storage.Init();

    window.Storage = Storage
}

templ Storage() {
}
