name: CI

on:
  push:
    branches: [main, ci/**]
  pull_request:
    branches: [main]

jobs:
  TruffleHog:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --only-verified

  Lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check
        run: task lint-check

  Test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Unit
        run: task test-unit

      - name: Upload Report
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: Test Report
          path: ./test/report
          retention-days: 30
